## Import and Read-Data

In [49]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv("../data/train.csv")

## Get Date-Cols From Dates Attribute

In [51]:
df['Dates'] = pd.to_datetime(df['Dates'])
df['Hour'] = df['Dates'].dt.hour
df['Month'] = df['Dates'].dt.month
df['Year'] = df['Dates'].dt.year
df['day'] = df['Dates'].dt.day
df['count_days'] = (df['Dates'] - df['Dates'].min()).apply(lambda x: x.days)

In [52]:
df.shape

(878049, 14)

## Duplicates and Null's Handling

In [53]:
df.duplicated().sum()

2323

In [54]:
df.drop_duplicates(inplace = True)

In [55]:
Q1_X = df['X'].quantile(0.25)
Q3_X = df['X'].quantile(0.75)
IQR_X = Q3_X - Q1_X

Q1_Y = df['Y'].quantile(0.25)
Q3_Y = df['Y'].quantile(0.75)
IQR_Y = Q3_Y - Q1_Y

df = df[(df['X'] >= Q1_X - 1.5 * IQR_X) & (df['X'] <= Q3_X + 1.5 * IQR_X)]

df = df[(df['Y'] >= Q1_Y - 1.5 * IQR_Y) & (df['Y'] <= Q3_Y + 1.5 * IQR_Y)]

## Scaling and Encoding

In [56]:
numeric_cols = df.select_dtypes(include=['number']).columns

scaler = StandardScaler()

df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

print(df.head())

category_encoder = LabelEncoder()
district_encoder = LabelEncoder()

df['Category'] = category_encoder.fit_transform(df['Category'])
df['PdDistrict'] = district_encoder.fit_transform(df['PdDistrict'])

                Dates        Category                      Descript  \
0 2015-05-13 23:53:00        WARRANTS                WARRANT ARREST
1 2015-05-13 23:53:00  OTHER OFFENSES      TRAFFIC VIOLATION ARREST
2 2015-05-13 23:33:00  OTHER OFFENSES      TRAFFIC VIOLATION ARREST
3 2015-05-13 23:30:00   LARCENY/THEFT  GRAND THEFT FROM LOCKED AUTO
4 2015-05-13 23:30:00   LARCENY/THEFT  GRAND THEFT FROM LOCKED AUTO

   DayOfWeek PdDistrict      Resolution                    Address         X  \
0  Wednesday   NORTHERN  ARREST, BOOKED         OAK ST / LAGUNA ST -0.411790
1  Wednesday   NORTHERN  ARREST, BOOKED         OAK ST / LAGUNA ST -0.411790
2  Wednesday   NORTHERN  ARREST, BOOKED  VANNESS AV / GREENWICH ST -0.329683
3  Wednesday   NORTHERN            NONE   1500 Block of LOMBARD ST -0.471069
4  Wednesday       PARK            NONE  100 Block of BRODERICK ST -1.101770

          Y      Hour    Month      Year       day  count_days
0  0.279439  1.462044 -0.41831  1.733397 -0.293857    1.698714
1  0.279439  1.462044 -0.41831  1.733397 -0.293857    1.698714
2  1.351371  1.462044 -0.41831  1.733397 -0.293857    1.698714
3  1.370401  1.462044 -0.41831  1.733397 -0.293857    1.698714
4  0.152488  1.462044 -0.41831  1.733397 -0.293857    1.698714

In [57]:
df.columns

Index(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y', 'Hour', 'Month', 'Year', 'day',
       'count_days'],
      dtype='object')

In [46]:
data = df.drop(['Descript','PdDistrict_2','Category_2', 'DayOfWeek', 'Resolution' , 'Address' , 'Year' , 'Dates' ], axis=1)

In [58]:
data.shape

(815600, 8)

In [59]:
data.head()

,Category,PdDistrict,X,Y,Hour,Month,day,n_days
0,37,4,-0.411790,0.279439,1.462044,-0.41831,-0.293857,1.698714
1,21,4,-0.411790,0.279439,1.462044,-0.41831,-0.293857,1.698714
2,21,4,-0.329683,1.351371,1.462044,-0.41831,-0.293857,1.698714
3,16,4,-0.471069,1.370401,1.462044,-0.41831,-0.293857,1.698714
4,16,5,-1.101770,0.152488,1.462044,-0.41831,-0.293857,1.698714

In [60]:
data.to_csv("../data/preprocessed_data.csv", index=False)